.tagSelect
	size 100% auto
	box-sizing border-box
	
	.ts-item
		size 100% auto
		padding 5vw 5vw 8vw
		box-sizing border-box
		overflow hidden
		display flex
		
		.tsi-title
			line-height 11vw
			display block
			color #444
			size 15vw 100%

		.tsi-tag
			flex 1
			
			span
				color #555
				border-radius 5vw
				display inline-block
				padding 0vw 4vw
				float left
				margin 1vw 3vw
				line-height 9.5vw
				border 1px solid rgb(36, 222, 205)
				
				&.ACTIVE
					color white
					background rgb(36, 222, 205)

	